[submodule "pack/plugins/start/minibufexpl.vim"]
	path = pack/plugins/start/minibufexpl.vim
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/csapprox"]
	path = pack/plugins/start/csapprox
	url = git@github.com:godlygeek/csapprox.git
[submodule "pack/plugins/start/dirdiff"]
	path = pack/plugins/start/dirdiff
	url = git@github.com:will133/vim-dirdiff.git
[submodule "pack/plugins/start/tsuquyomi"]
	path = pack/plugins/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "pack/plugins/start/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "pack/plugins/start/MatchTag"]
	path = pack/plugins/start/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "pack/plugins/opt/vim-airline-themes"]
	path = pack/plugins/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/opt/vim-airline"]
	path = pack/plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-tmux-navigator"]
	path = pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "pack/plugins/start/vim-obsession"]
	path = pack/plugins/start/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/vim-orgmode"]
	path = pack/plugins/start/vim-orgmode
	url = git@github.com:jceb/vim-orgmode.git
[submodule "pack/plugins/start/vim-speeddating"]
	path = pack/plugins/start/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
